In [1]:
# @title Default title text
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(5,3),index=['a','c','e','f','h'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f','g','h'])
print(df['one'].isnull())

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [ ]:
df=pd.DataFrame(np.random.randn(5,3),index=['a','c','e','f','h'],columns=['one','two','three'])
print(df)
df=df.reindex(['a','b','c','d','e','f','g','h'])
print(df)

        one       two     three
a  0.203952  0.630963  0.351349
c -1.539032 -0.325233  0.355477
e -0.030230 -1.035247  1.252470
f  0.663286  0.906568  1.192076
h -0.844667 -0.186936  1.529607
        one       two     three
a  0.203952  0.630963  0.351349
b       NaN       NaN       NaN
c -1.539032 -0.325233  0.355477
d       NaN       NaN       NaN
e -0.030230 -1.035247  1.252470
f  0.663286  0.906568  1.192076
g       NaN       NaN       NaN
h -0.844667 -0.186936  1.529607

In [ ]:
df=pd.DataFrame(np.random.randn(3,3),index=['a','c','e'],columns=['one','two','three'])
print(df)
df=df.reindex(['a','b','c'])
print(df.fillna(0))

        one       two     three
a -0.324554  0.085686 -1.526884
c  0.421765  0.356969  1.137147
e  1.120463 -0.986868  0.097551
        one       two     three
a -0.324554  0.085686 -1.526884
b  0.000000  0.000000  0.000000
c  0.421765  0.356969  1.137147

In [ ]:
df=pd.DataFrame(np.random.randn(3,3),index=['a','c','e'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e'])
print(df)
print('*************************')
print(df.fillna(method='pad'))#forword filling

        one       two     three
a  1.709133 -1.217960  1.032269
b       NaN       NaN       NaN
c  0.543591  2.026354  0.145048
d       NaN       NaN       NaN
e -0.218022 -1.637975  0.232648
*************************
        one       two     three
a  1.709133 -1.217960  1.032269
b  1.709133 -1.217960  1.032269
c  0.543591  2.026354  0.145048
d  0.543591  2.026354  0.145048
e -0.218022 -1.637975  0.232648

In [ ]:
df=pd.DataFrame(np.random.randn(3,3),index=['a','c','e'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e'])
print(df)
print('-------------')
print(df.fillna(method='bfill'))#backword filling

        one       two     three
a  0.406352  0.128201  0.308728
b       NaN       NaN       NaN
c -0.479826 -0.358910 -0.029911
d       NaN       NaN       NaN
e -0.493442  1.942297 -0.794134
-------------
        one       two     three
a  0.406352  0.128201  0.308728
b -0.479826 -0.358910 -0.029911
c -0.479826 -0.358910 -0.029911
d -0.493442  1.942297 -0.794134
e -0.493442  1.942297 -0.794134

In [ ]:
df=pd.DataFrame(np.random.randn(5,3),index=['a','c','e','f','h'],columns=['one','two','three'])
print(df)
df=df.reindex(['a','b','c','d','e','f','g','h'])
print(df.dropna())

        one       two     three
a  1.343597  0.622709  0.529384
c -2.927362 -1.026329 -0.134572
e  0.266877 -0.504996  0.559182
f  0.613693  0.169145 -0.331124
h -1.474078 -0.324015  0.679238
        one       two     three
a  1.343597  0.622709  0.529384
c -2.927362 -1.026329 -0.134572
e  0.266877 -0.504996  0.559182
f  0.613693  0.169145 -0.331124
h -1.474078 -0.324015  0.679238

In [ ]:
df1 = pd.DataFrame({'one':[1000,23,24,25,26,27], 'two' : [2022,32,25,26,20,22,]})
print(df1)
print(df1.replace({1000:22,2022:22}))

    one   two
0  1000  2022
1    23    32
2    24    25
3    25    26
4    26    20
5    27    22
   one  two
0   22   22
1   23   32
2   24   25
3   25   26
4   26   20
5   27   22

In [ ]:
#from google.colab import drive
#drive.mount('')

In [ ]:
import pandas as pd
df=pd.read_csv('/content/titanic.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
cols=['Name','Ticket','Cabin']
df=df.drop(cols,axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.8+ KB

In [ ]:
df=df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  712 non-null    int64
 1   Survived     712 non-null    int64
 2   Pclass       712 non-null    int64
 3   Sex          712 non-null    object
 4   Age          712 non-null    float64
 5   SibSp        712 non-null    int64
 6   Parch        712 non-null    int64
 7   Fare         712 non-null    float64
 8   Embarked     712 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 55.6+ KB

In [ ]:
dummies=[]
cols=['Pclass','Sex','Embarked']
for col in cols:
  dummies.append(pd.get_dummies(df[cols]))

In [ ]:
titanic_dummies=pd.concat(dummies,axis=1)

In [ ]:
df=pd.concat((df,titanic_dummies),axis=1)
print(df)

     PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare  \
0              1         0       3    male  22.0      1      0   7.2500
1              2         1       1  female  38.0      1      0  71.2833
2              3         1       3  female  26.0      0      0   7.9250
3              4         1       1  female  35.0      1      0  53.1000
4              5         0       3    male  35.0      0      0   8.0500
..           ...       ...     ...     ...   ...    ...    ...      ...
885          886         0       3  female  39.0      0      5  29.1250
886          887         0       2    male  27.0      0      0  13.0000
887          888         1       1  female  19.0      0      0  30.0000
889          890         1       1    male  26.0      0      0  30.0000
890          891         0       3    male  32.0      0      0   7.7500

    Embarked  Pclass  ...  Sex_male  Embarked_C  Embarked_Q  Embarked_S  \
0          S       3  ...         1           0           0           1
1          C       1  ...         0           1           0           0
2          S       3  ...         0           0           0           1
3          S       1  ...         0           0           0           1
4          S       3  ...         1           0           0           1
..       ...     ...  ...       ...         ...         ...         ...
885        Q       3  ...         0           0           1           0
886        S       2  ...         1           0           0           1
887        S       1  ...         0           0           0           1
889        C       1  ...         1           1           0           0
890        Q       3  ...         1           0           1           0

     Pclass  Sex_female  Sex_male  Embarked_C  Embarked_Q  Embarked_S
0         3           0         1           0           0           1
1         1           1         0           1           0           0
2         3           1         0           0           0           1
3         1           1         0           0           0           1
4         3           0         1           0           0           1
..      ...         ...       ...         ...         ...         ...
885       3           1         0           0           1           0
886       2           0         1           0           0           1
887       1           1         0           0           0           1
889       1           0         1           1           0           0
890       3           0         1           0           1           0

[712 rows x 27 columns]

In [ ]:
df=df.drop(['Pclass','Sex','Embarked'],axis=1)
print(df)

     PassengerId  Survived   Age  SibSp  Parch     Fare  Sex_female  Sex_male  \
0              1         0  22.0      1      0   7.2500           0         1
1              2         1  38.0      1      0  71.2833           1         0
2              3         1  26.0      0      0   7.9250           1         0
3              4         1  35.0      1      0  53.1000           1         0
4              5         0  35.0      0      0   8.0500           0         1
..           ...       ...   ...    ...    ...      ...         ...       ...
885          886         0  39.0      0      5  29.1250           1         0
886          887         0  27.0      0      0  13.0000           0         1
887          888         1  19.0      0      0  30.0000           1         0
889          890         1  26.0      0      0  30.0000           0         1
890          891         0  32.0      0      0   7.7500           0         1

     Embarked_C  Embarked_Q  ...  Sex_female  Sex_male  Embarked_C  \
0             0           0  ...           0         1           0
1             1           0  ...           1         0           1
2             0           0  ...           1         0           0
3             0           0  ...           1         0           0
4             0           0  ...           0         1           0
..          ...         ...  ...         ...       ...         ...
885           0           1  ...           1         0           0
886           0           0  ...           0         1           0
887           0           0  ...           1         0           0
889           1           0  ...           0         1           1
890           0           1  ...           0         1           0

     Embarked_Q  Embarked_S  Sex_female  Sex_male  Embarked_C  Embarked_Q  \
0             0           1           0         1           0           0
1             0           0           1         0           1           0
2             0           1           1         0           0           0
3             0           1           1         0           0           0
4             0           1           0         1           0           0
..          ...         ...         ...       ...         ...         ...
885           1           0           1         0           0           1
886           0           1           0         1           0           0
887           0           1           1         0           0           0
889           0           0           0         1           1           0
890           1           0           0         1           0           1

     Embarked_S
0             1
1             0
2             1
3             1
4             1
..          ...
885           0
886           1
887           1
889           0
890           0

[712 rows x 21 columns]

In [ ]:
df['Age']=df['Age'].interpolate()
print(df)

     PassengerId  Survived   Age  SibSp  Parch     Fare  Sex_female  Sex_male  \
0              1         0  22.0      1      0   7.2500           0         1
1              2         1  38.0      1      0  71.2833           1         0
2              3         1  26.0      0      0   7.9250           1         0
3              4         1  35.0      1      0  53.1000           1         0
4              5         0  35.0      0      0   8.0500           0         1
..           ...       ...   ...    ...    ...      ...         ...       ...
885          886         0  39.0      0      5  29.1250           1         0
886          887         0  27.0      0      0  13.0000           0         1
887          888         1  19.0      0      0  30.0000           1         0
889          890         1  26.0      0      0  30.0000           0         1
890          891         0  32.0      0      0   7.7500           0         1

     Embarked_C  Embarked_Q  ...  Sex_female  Sex_male  Embarked_C  \
0             0           0  ...           0         1           0
1             1           0  ...           1         0           1
2             0           0  ...           1         0           0
3             0           0  ...           1         0           0
4             0           0  ...           0         1           0
..          ...         ...  ...         ...       ...         ...
885           0           1  ...           1         0           0
886           0           0  ...           0         1           0
887           0           0  ...           1         0           0
889           1           0  ...           0         1           1
890           0           1  ...           0         1           0

     Embarked_Q  Embarked_S  Sex_female  Sex_male  Embarked_C  Embarked_Q  \
0             0           1           0         1           0           0
1             0           0           1         0           1           0
2             0           1           1         0           0           0
3             0           1           1         0           0           0
4             0           1           0         1           0           0
..          ...         ...         ...       ...         ...         ...
885           1           0           1         0           0           1
886           0           1           0         1           0           0
887           0           1           1         0           0           0
889           0           0           0         1           1           0
890           1           0           0         1           0           1

     Embarked_S
0             1
1             0
2             1
3             1
4             1
..          ...
885           0
886           1
887           1
889           0
890           0

[712 rows x 21 columns]

#Mix Max Scaler and Standardization

In [ ]:
from sklearn.preprocessing import MinMaxScaler
data=[[-1,2],[-0.5,6],[0,10],[1,18]]
scaler=MinMaxScaler()
print(scaler.fit(data))
print('-------------')
MinMaxScaler()
print(scaler.data_max_)
print('------------')
print(scaler.transform(data))

MinMaxScaler()
-------------
[ 1. 18.]
------------
[[0.   0.  ]
 [0.25 0.25]
 [0.5  0.5 ]
 [1.   1.  ]]

In [ ]:
from numpy import asarray
from sklearn.preprocessing import StandardScaler
data=asarray([[100,0.001],
              [8,0.05],
              [50,0.005],
              [88,0.07],
              [4,0.1]])
print(data)
scaler=StandardScaler()
scaled=scaler.fit_transform(data)
print(scaled)

[[1.0e+02 1.0e-03]
 [8.0e+00 5.0e-02]
 [5.0e+01 5.0e-03]
 [8.8e+01 7.0e-02]
 [4.0e+00 1.0e-01]]
[[ 1.26398112 -1.16389967]
 [-1.06174414  0.12639634]
 [ 0.         -1.05856939]
 [ 0.96062565  0.65304778]
 [-1.16286263  1.44302493]]